* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  background: #0d0d0d;
  color: #f0f0f0;
}

img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}
